body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(46, 47, 70);
    color: white;
}

h1 {
    color: orange;
}

h2 {
    color: aqua;
}

li a {
    color: orange;
    background-color: rgb(46, 47, 70);
}

a {
    color: black;
    background-color: white;
}

img {
    width: 500px;
    height: auto;
}

.home-title {
    color: rgb(185, 9, 9);
    font-size: 40px;
    text-align: center;
}

.links-list {
    list-style: none;
    width: 200px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(41, 39, 39);
    padding: 40px 0px 30px;
}

.links-list a {
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em;
    background-color: rgb(94, 2, 2);
    margin-bottom: 10px;
}

.links-list a:hover {
    background-color: rgb(153, 4, 4);
}